%header.page-header.clearfix
  .header-nav.clearfix
    .column-1
      #logo
        = link_to(image_tag("global/@2x-solidfire-logo.png", :class => "img-responsive"), "/", :id => "solidfire-header-logo")
    .column-2.clearfix
      .navigation-container.clearfix
        .searchbox.pull-right
          %form{:action => 'http://www.solidfire.com/search-results', :method => 'GET', :id => 'header-search-form', :class => 'search-form'}
            %label{:class => 'js-q-toggle q-toggle'}
            %input{:class => 'nav-search', :id => 'q', :name => 'q', :type => 'text'}
        %nav{:class => 'global-nav'}
          %ul{:class => 'level1 pull-right'}
            %li.drop-down
              %a{:href => '/storage-system/'}
                = t 'views.global.storage'
              .level2.one-column
            %li.drop-down
              %a{:href => '/solutions/'}
                = t 'views.global.solutions'
              .level2.one-column
            %li.drop-down
              %a{:href => '/channel-partners/'}
                = t 'views.global.channel-partners'
              .level2.one-column
            %li.nav-button
              %b
                %span
                  %a{:href => '/contact-us/', :class => 'nav-button-item'}
                    = t 'views.global.contact-us'
      .mobile-menu-actions.mobile-menu
        %i.mobile-search-icon
        %b.mobile-menu-indicator
          MENU
        %b.mobile-menu-toggle
          %span.icon-bar
          %span.icon-bar
          %span.icon-bar