#home-top-section
  .container
    .image-section
    .right-section
      %h1= simple_format t ('views.home.h1')
      %h2= simple_format t ('views.home.h2')
      .cta-wrapper
        %a{:href => '#', :class => 'demo'}
          = t 'views.home.demo'
        %a{:href => '#', :class => 'watch-video'}
          = t 'views.home.watch-video'



