@import "variables";

// Configuring Susy Defaults
$susy: (
  global-box-sizing: border-box,
  use-custom: (rem: true)
);

@include border-box-sizing;

.container {
  @include container;
  @include clearfix;
}

#home-top-section {
  width:100%;
  position: relative;
  float: left;
  background-color: #dedfe1;
  margin-top: 75px;
}

#home-top-section .container {
  background-color:transparent;
  @include container(1240px);
}

#home-top-section .container a {
  cursor: pointer;
}

#home-top-section .container .image-section {
  @include span(5 of 12);
  background: image-url('ja/home/hero-image.png') no-repeat;
  height: 509px;
  margin-top: 20px;
}

#home-top-section .container .right-section {
  @include span(7 of 12 last);
  text-align: left;
}

#home-top-section .container h1 p {
  text-align: left;
  margin-top: 80px;
  @include font-size(34px);
  color: #9d1b1b;
}

#home-top-section .container h2 p{
  text-align: left;
  @include font-size(18px);
  line-height: 2.0rem;
  margin: 0;
  padding: 0;
}

#home-top-section .cta-wrapper {
  margin-top: 50px;
}

#home-top-section .cta-wrapper a.demo {
  background-color: #8ac06d;
  color: #FFF;
  padding: 16px 25px 14px 25px;
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  -khtml-border-radius: 5px;
  border-radius: 5px;
  margin-right: 20px;
  text-transform: uppercase;
}

#home-top-section .cta-wrapper a.watch-video {
  background-color: transparent;
  color: #000;
  padding: 15px 25px 13px 25px;
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  -khtml-border-radius: 5px;
  border-radius: 5px;
  border: solid 1px #b2b2b2;
  text-transform: uppercase;
}




